.filterAlertDiv {
  padding: 0px 24px 0px 4px;
}
.filterAlertCloseBtn {
  width: 12px;
  height: 12px;
  margin-top: 7px;
  margin-right: 6px;
}
.card {
  width: 18rem;
}
.stylePosition {
  position: relative;
  top: -30px;
}
.chartStyle {
  position: relative;
  top: -32px;
}
